In [6]:
my_var = 2.333333333333
print(f"21/9 is {my_var}")
print("21/9 is {}".format(my_var))
print("21/9 is {0}".format(my_var))
print("21/9 is {a}".format(a=my_var))
print("21/9 is %s" %(my_var))

21/9 is 2.333333333333
21/9 is 2.333333333333
21/9 is 2.333333333333
21/9 is 2.333333333333
21/9 is 2.333333333333

In [ ]:
f"21/9 is {my_var:.2f}"

In [11]:
f"Only two decimal places: 21/9 is {1234567890:,.2f}"

'Only two decimal places: 21/9 is 1,234,567,890.00'

In [14]:
100_000_000

2

In [18]:
my_var = 'Hello World!'
my_var[:1] + 't' + my_var[2:]

'Htllo World!'

In [24]:
'Hello World!'.split('W')

['Hello ', 'orld!']

In [25]:
len('Hello World!')

12

In [26]:
'Hello World!'.count('l')

3

In [33]:
'!hello world. hello lol'.capitalize()

'!hello world. hello lol'

In [35]:
my_var = '1234'
int(my_var)

1234

In [40]:
int('0b11',2)

3

In [41]:
bin(11)

'0b1011'

In [42]:
hex(11)

'0xb'

In [49]:
int('0xb', 16)

11

In [53]:
', '.join(['1','2','3','a','c'])

'1, 2, 3, a, c'

In [61]:
my_list = [1,2,3,4,5]
my_list[1::2] # [start:stop:step]

[2, 4]

In [64]:
my_list = [1,2,3,4,5,6]
my_list[2]

3

In [81]:
import random
random.shuffle(my_list)

In [82]:
sorted(my_list,reverse=True)

[6, 5, 4, 3, 2, 1]

In [84]:
my_list.sort(reverse=True)

In [85]:
my_list

[6, 5, 4, 3, 2, 1]

In [87]:
my_list.append(8)

In [88]:
my_list

[6, 5, 4, 3, 2, 1, 2]

In [89]:
my_list.insert(3, 8)

In [91]:
my_list

[6, 5, 4, 8, 3, 2, 1, 2]

In [92]:
my_list.index(5)

1

In [93]:
my_list.index(2)

5

In [94]:
my_list.pop(4)

3

In [95]:
my_list

[6, 5, 4, 8, 2, 1, 2]

In [96]:
my_list.remove(4)

In [97]:
my_list

[6, 5, 8, 2, 1, 2]

In [98]:
my_list.remove(2)

In [100]:
my_list

[6, 5, 8, 1, 2]

In [101]:
sum(my_list)

22

In [102]:
my_list.append('2')
sum(my_list)

TypeError: unsupported operand type(s) for +: 'int' and 'str'